---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import FuzzySearch from "../../components/FuzzySearch.jsx";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { Breadcrumbs } from "astro-breadcrumbs";

const posts = (await getCollection("blog")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

---

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style lang="scss">
.blog-blurb {
  display: block;

  & + .blog-blurb {
    border-top: 1px solid #eee;
  }

  .extra {
    color: #555;
    font-size: 0.75rem;
  }
}
        </style>
    </head>
    <body>
        <Header />
        <main>
          <h1>Blog</h1>
          <Breadcrumbs ariaLabel="a structured list of navigation links" debug={true} linkTextFormat="capitalized">
              <svg
                  slot="separator"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  ><polyline points="9 18 15 12 9 6"></polyline>
              </svg>
          </Breadcrumbs>
          <FuzzySearch
              client:load
              data={posts.map(e => e.data)}
              keys={[
                "title",
                "slug",
                "date",
                "categories",
                "description",
            ]}
            />
        </main>
        <Footer />
    </body>
</html>
