---
const today = new Date();
---

<footer>
    <div class="details">
        <section>
            <h2>Address</h2>
            <address>
                30 Echo Lake Road<br />
                Watertown, CT 06795
            </address>
        </section>
        <section>
            <h2>Contact Info</h2>
            <a href="tel:8046014225">(804) 601-HACK</a><br />
            <a href="mailto:contact.cthackerspace@gmail.com">
                contact.cthackerspace@gmail.com
            </a>
        </section>
        <section>
            <h2>Open House</h2>
            Wednesday 7-10pm
        </section>
    </div>

    <small class="copywrite">
        &copy; {today.getFullYear()} CT Hackerspace, Inc. All rights reserved.
    </small>
</footer>
