---
import PaymentLink from './PaymentLink.astro';
const today = new Date();
---

<footer>
    <div class="details">
        <section>
            <h2>Address</h2>
            <address>
                30 Echo Lake Road<br />
                Watertown, CT 06795
            </address>
        </section>
        <section>
            <h2>Contact Info</h2>
            Call <a href="tel:8046014225">(804) 601-HACK</a><br />
            Text <a href="sms:+18046014225?&amp;body=Hi%2520I%2520am%2520Interested%2520in%2520CTHackerspace">1-804-601-4225</a><br />
            E-Mail <a href="mailto:contact.cthackerspace@gmail.com">
                contact.cthackerspace@gmail.com
            </a>
            <br />
        </section>
        <section>
            <h2>Social</h2>
            <a class="social-link" href="https://bsky.app/profile/cthackerspace.bsky.social"><img src="/bluesky-gray64.png" alt="Bluesky cthackerspace.bsky.social" /></a>
            <a class="social-link" href="https://www.facebook.com/profile.php?id=100057102921108"><img src="/facebook-gray64.png" alt="Facebook CT Hackerspace" /></a>
            <a class="social-link" href="https://www.instagram.com/cthackerspace/"><img src="/instagram-gray64.png" alt="Instagram CT Hackerspace" /></a>
            <a class="social-link" href="https://x.com/CThackerspace"><img src="/X-gray64.png" alt="Twitter CThackerspace" /></a>
        </section>
        <section>
            <h2>Donations or Payments</h2>
            <PaymentLink />
        </section>
        <section>
            <h2>Open House</h2>
            Wednesday 7-10pm
        </section>
    </div>

    <small class="copywrite">
        &copy; {today.getFullYear()} CT Hackerspace, Inc. All rights reserved.
    </small>
</footer>
