---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { Breadcrumbs } from "astro-breadcrumbs";

const { title, description } = Astro.props.content;

const pageTitle = `CTH - ${title ?? "CT Hackerspace"}`;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={pageTitle}
            description={description}
        />
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <Header />
        <main>
            <h1>{title}</h1>
            <Breadcrumbs ariaLabel="a structured list of navigatio links" />
            <slot />
        </main>
        <Footer />
    </body>
</html>
